---
import { ClientRouter } from "astro:transitions";
import Atropos from "../components/Atropos.jsx";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/faviconbook.png" />
		<meta name="generator" content={Astro.generator} />
		<title>e-Books</title>
		<link rel="stylesheet" href="/src/styles/global.css" />
		<ClientRouter />
	</head>
	<body>
		<Atropos className="w-full min-h-screen">
			<div>
				<slot />
			</div>
		</Atropos>
	</body>
</html>

<style>
	html {
		min-height: auto;
		font-family: system-ui, sans-serif;
		background-image: url('/background.png');
		background-size:cover;
		background-attachment: fixed;
		background-position: center;
		color: #333;
	}

	body {
		@apply grid place-content-center;
	}

	body > div {
		@apply container;
	}
</style>
<footer class="text-center m-10 text-black">
	<p>&copy;DNR 2025 e-Books. Todos los derechos reservados.</p>
</footer>
